<div class="container well col-md-offset-1" style="opacity:0.95;">
	<h3 class="text-center">更新产品信息</h3>
	<div class="col-md-4" style="padding-left: 0px">
		<br>

		<% if @product.photos.present? %>
			<%= image_tag(@product.photos[0].medium.url) %>
		<% else %>
			<%= image_tag("//placehold.it/200x200&text=No Pic") %>
		<% end %>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<%= simple_form_for [:admin, @product] do |f| %>

		<%= f.input :title, title: "xxxx" %>
		<br>

		<%= f.input :description %>
		<br>

		<%= f.input :price%>
		<br>

		<%= f.input :quantity %>
		<br>

		<%= f.input :image %>
		<strong>Photos</strong>
		<%= f.file_field :photos, as: :file, :multiple => true %>
		<%= f.submit "更新产品信息", :disable_with => "提交中...", class: "btn btn-success btn-lg pull-right" %>
		<% end %>
	</div>
</div>
