<div class="container well" style="opacity:0.98;">

	<h3 class="text-center" style="color: #DF3800;">如何零基础学会编程或任何事</h3><br>

	<h4 style="margin-left: 15px;">这是一个程序员供不应求的年代。</h4><br>
	<div class="text-center">
		<%= image_tag "web design.jpg", style: "width: 100%; border-radius: 10px;" %>
	</div><br><br>
	
	<p style="margin-left: 15px;">自从 iPhone 重新改变了人与人交易的方式后，这个世界开始变得奇缺程序员。再过几年，学习编程似乎变成了一个人人必修的议题。</p>
	<p style="margin-left: 15px;">周遭有钱的朋友想学编程，他们觉得 “很酷”。没钱的朋友想学编程，因为程序员节节高涨的薪水可以让 TA 一夕翻身。</p>
	<p style="margin-left: 15px;">就现状而言，学习编程的需求无疑远大于供给。即便如今在线编程学习资源众多，编程培训学校满地都是。但是，程序员生长速度却远远填不满这个黑洞：</p><br>

	<div class="row clearfix">
		<div class="col-md-6 text-center">
			<%= image_tag "debug0.jpeg", style: "width: 100%; border-radius: 10px;" %>
		</div>
		<div class="col-md-6 text-center">
			<%= image_tag "debug1.jpeg", style: "width: 100%; border-radius: 10px;" %>
		</div>
	</div>
	<br>

	<p>这些都是一大帮已找到门路踩到门框上的。</p>
	<p>另外还有一大帮人，卡在这里：</p><br>

	<div class="row clearfix">
		<div class="col-md-6 text-center">
			<%= image_tag "debug02.jpeg", style: "width: 100%; border-radius: 10px;" %>
		</div>
		<div class="col-md-6 text-center">
			<%= image_tag "debug03.jpeg", style: "width: 100%; border-radius: 10px;" %>
		</div>
	</div>
	<br><br>

	<p>学编程真的需要天份以及背景吗？</p>
	<p>让我告诉你一个秘密：如果你花时间去追踪技术圈内绝大多数的大牛、大神的背景，甚至跟他们聊聊。最后你会惊愕地发现，<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">他们绝大多数不是计算机背景出身。</span></p>
	<p><span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">有些大牛甚至还会好心地分享他过去带团队的经验：</span>一个人是不是读计算机背景出身，跟在工作中写不写得出优秀代码，关系很小，甚至有时候还会呈反比。</p><br>

	<h4 class="text-center" style="font-weight:bold;">成就程序员的是思维与扩展方法</h4><br>

	<p>许多优秀的程序员，学会编程，靠的不是所谓 “本科背景”，而是他们在一路上的成长过程中，掌握到与众不同的<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">思维方式</span>以及自学方法，乃至于可以迅速地拓展编程技能树以及在原先的境界中不断地突破。</p>
	<p>悲伤的是：绝大多数的编程书与编程课不教这些。<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">多数程序员的这些本领是靠日常做项目暴力累积出来的，</span>甚至我以前也是这样认为。</p>
	<p>所以大众会有这样的认知：</p>

	<blockquote style="border-left: 4px solid #c14545;display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;">
		<ul style="list-style-type: circle;margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">编程只能靠 “自学”，优秀程序员一定是 “野生”的</span>
				</p>
			</li>
		</ul>
		<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
			<span style="font-size: 15px; color: rgb(63, 65, 64);"><br></span>
		</p>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">养成一个程序员需要非常久的时间</span>
				</p>
			</li>
		</ul>
	</blockquote>	

	<h4 class="text-center" style="font-weight:bold;">编程初学者如何避免从入门到放弃</h4><br>
	<p>全栈班第一期学生李师傅在快毕业时写了一篇学习心得，编题就叫 “编程初学者如何避免从入门到放弃”，摘录段落如下：</p><br>
	<div style="color: grey;">
		<p>软件正在吞噬整个世界。</p>
		<p>霍师傅曾说，在中国，大概唯一增长率可以比得上北上广房价的，就是程序员的薪水了。你可能也听过那个“所有都准备好了，只差一个程序员就可以开工了”的段子，然而这并不好笑，有大量的真实项目，是真的只差一个程序员。</p>
		<p>那么，零基础要如何学习编程呢？</p>
		<p>或许你会到网络上搜索各种免费视频教学下载到自己的硬盘，购买各种从入门到精通的大部头书籍，到知乎上看各路人马对初学者的各种建议，甚至到国内外各大公开课平台付费学习，然而，在学习了一段时间之后，你终于成功地实现了从入门到放弃。相信我，你并不孤独。</p>
		<p>那么，原因何在呢？是因为你没有学习学习再学习（如果你不熟悉这七个字，稍微解释一下，这不是重要的事情说三遍，而是学习了学习的方法论再学习，第二个学习是名词）。你没有掌握有效的学习方法论就开始学习，是事倍功半的。</p>
	</div><br>

	<p>是的，学习编程的关键根本不在是否具有 “计算机背景”，<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">而是在于有没有学习学习再学习。</span></p><br>


	<h4 class="text-center" style="font-weight:bold;">元学习课 — 学习学习再学习</h4><br>
	<p>许多人入门学编程的最大坑，<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">在于一般人生活当中根本没有与计算机运作相关的记忆结合。</span></p>
而大脑无法以未知解释未知，自然就挫败重重。</p>
	<p>更别说网路上许多好心程序员所挖的 “教程坑”，细心讲解了所有基础原理，你认得每个中文字，但却完全不明白意思，乃至于自暴自弃怀疑自己的智商......</p>
	<p>要我透露学习编程的诀窍的人太多了，我教不完。<span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">于是我打算先开一个学习方法的班，从编程角度切入。</span></p>
</p>
	<p>如果你真的这样照做了，有兴趣了，或者是你尝试过后，觉得自学所花的时间税太贵了，改缴智商税比较便宜，再来报全栈班不迟。</p>
	<p><span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">这堂课的目的在于教你如何突破自学编程从入门到放弃的困境，</span></p>
这套方法不仅可以应用在学习编程上，甚至理论上可以应用在学习任何实体技艺上。</p>
	<p>这堂课与全栈营不同的地方在于，在全栈营我教的是包含程序设计、产品制作、项目管理的完整课程，成果目的是职业的全栈战士。</p>
	<p><span style="color: #DF3800; font-weight:bold; font-size: 1.1em;">而这个班教的是我在全栈营里面提炼出来的学习方法论与思考、践行架构。</span></p>
目的是为了让所有对编程有兴趣的人，突破从 0->1 的大难关。</p>
	<p>在这个班我会教你如何逆向工程自己的大脑，拓展你对学习未知领域的疆界。</p><br>

		<!-- 图片行 -->
	<div class="row text-center">
		<%= image_tag "Xdite fly.jpeg", style: "width: 95%; border-radius: 25px;" %>
	</div><br>
	
	<hr>
	
	<h4 class="text-center" style="font-weight:bold;">主要内容大纲：</h4>

	<blockquote style="border-left: 4px solid #c14545;display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;">
		<ul style="list-style-type: circle;margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">学习编程的天险，以及需要克服的心理情绪</span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">正确学习编程的姿势、技巧</span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">善用大脑的运作原理加速学习</span>
				</p>
			</li>
		</ul>
		<ul style="list-style-type: circle; margin-left: 20px;">
			<li>
				<p style="text-align: left; margin: 0em 1em; line-height: 1.75em;">
					<span style="font-size: 15px; color: rgb(63, 65, 64);">如何用同一套理论，原则上学会你想学的任何技艺</span>
				</p>
			</li>
		</ul>


	</blockquote>	


<br>
<br>
<br>




