<div class="container well" style="opacity:0.98;color: green;">

 <h3 class="text-center">Xdite的定制公仔</h3>
 <h3 class="text-center">多种风格</h3>
 <h3 class="text-center">适格多种类型的粉丝</h3><br>
 <i class="em em-some-emoji"></i>



 <!-- 描述行 -->
 <div class="row clearfix  text-center" style="color: black;">
	 <!-- 第一栏 -->
	 <div class="col-md-4">
		 <%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fc98908c66.gif", style: "width:100%"  %>
		 <h4>职业OL</h4>
	</div>
	 <!-- 第二栏 -->
	 <div class="col-md-4">
		 <%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fc988c32d6.gif", style: "width:100%"  %>
		 <h4>可怜汪汪</h4>		 
	 </div>

	 <!-- 第三栏 -->
	 <div class="col-md-4">
		 <%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fc98b7ced5.gif", style: "width:100%"  %>
		 <h4>Hack</h4>		 
	 </div>

 </div>

 <br><br>


 <div class="row clearfix text-center" style="color: black;">
	 <!-- 第一栏 -->
	 <div class="col-md-4">
		 <%= image_tag "https://ooo.0o0.ooo/2016/11/07/581fc98c6a079.gif", style: "width:100%"  %>
		 <h4>西部世界cosplay</h4>		 
	</div>
	 <!-- 第二栏 -->
	 <div class="col-md-4">
		 <%= image_tag "http://gifyu.com/images/654d26.gif", style: "width:100%" %>
		 <h4>德云社</h4>		 
	 </div>

	 <!-- 第三栏 -->
	 <div class="col-md-4">
		 <%= image_tag "http://gifyu.com/images/49dbb8.gif", style: "width:100%" %>
		 <h4>文艺女青年</h4>		 
	 </div>

 </div>


<hr>

<br>
<br>
<br>

