<div class="section clearfix" style="margin-bottom:0px">




        <% @products.each do |product|%>

          <div class="card effect__hover">

            <div class="card__front">
            	<%= render partial: "common/product_image", locals: {product: product, size: "thumb"} %>
            </div>

            <div class="card__back">
              <% if product.photos.present? %>
                <%= link_to image_tag(product.photos[0].url(:thumb), style:"width:100%"),product_path(product) %>
              <% else %>
                <%= image_tag "//placehold.it/200x200", style:"width:100%;" %>
                <% end %>
             </div>
            </div>


        <% end %>
        </div><!-- /card -->

        <div class="section__content clearfix">
          <div class="row">
          	<div class="col-md-6 promo1">

          	   <%= image_tag "https://ooo.0o0.ooo/2016/11/06/581f3e6386e2e.jpeg", class:"promo_image"%>
          	    </div>
          	    	<div class="col-md-6 promo2">
                     <%=  image_tag "https://ooo.0o0.ooo/2016/11/06/581f3e92b5eee.jpeg",class:"promo_image" %>
                   </div>

        </div><!-- /card -->
      </div>
