<br>
<br>

<div class="container">

	<div class="row well">

		<!-- major photo -->
		<div class="col-md-4">
			<br>
			<%= render partial: "common/product_image", locals: {product: @product, size: "medium", only_image: true} %>	
		</div>

		<!-- title, description and add to cart -->
		<div class="col-md-5">
			<h3><%= simple_format(@product.title) %></h3>	
			<br>
			<h4>本月剩余预约次数</h4><%= @product.quantity %>
			<br><p><%= simple_format(@product.description) %></p>			
			<br>
			<h4 class="text-left">价格: <span style="color: green"><%= @product.price %></span></h4>
			<%= render "common/add_to_cart_button" %>
		</div>

		<!-- other recommendation -->
		<div class="col-md-3">
			<h4>其他推荐</h4>
			<br>
			<% @other_products.each do |other_product| %>
			<div class="col-md-12">
				<%= render partial: "common/product_image", locals: {product: other_product, size: "thumb"} %>
				<br>	
				<%= link_to other_product.title, product_path(other_product), class: "pull-right" %>
				<br><br>
			</div>
			<% end %>
		</div>
	</div>
<hr>
</div>

<% case @product.id %>
<% when 1 %>
	<%= render partial: "product_rails_detail" %>	
<% when 2 %>
	<%= render partial: "product_growth_hack_detail" %>
<% when 3 %>
	<%= render partial: "product_cognitive_learning_detail" %>
<% when 4 %>
	<%= render partial: "product_coffee_detail" %>
<% end %>


