
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Xdore</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Search Bar -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

      <li><form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <form id="custom-search-form" class="form-search form-horizontal pull-left">

          <%= form_tag products_path, method: :get, class: "navbar-form navbar-left" do %>
                    <%= text_field_tag :search, params[:search] ,class:"search-query mac-style form-control", placeholder:"站内搜索" %>

                    <%= button_tag(type:"submit", class: "btn") do %>
                    <i class="fa fa-search"></i>
                    <% end %>
                    <% end %>

      </form>
    </li>
      <!---/Search Bar -->
                <% if !current_user %>
                    <li><%= link_to("注册", new_user_registration_path) %></li>
                    <li><%= link_to("登录", new_user_session_path) %></li>
                <% else %>
                    <li>
                        <%= link_to carts_path do %>
                            <i class="fa fa-shopping-cart"> 购物车</i> （<%= new_items_for_current_user.sum("quantity") %>）
                        <% end %>
                    </li>

                    <li class="dropdown navbar-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          欢迎 <%= current_user.email %>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                      <%= link_to orders_index_path do %>
                          <i class="fa fa-sticky-note" aria-hidden="true"></i> 我的订单（<%= orders_not_complete_for_current_user.count %>）
                      <% end %>
                  </li>
                            <% if current_user.admin? %>
                                <li><%= link_to admin_products_path do %>
                                  <i class="fa fa-cog" aria-hidden="true"></i> 后台商品管理
                                  <% end %>

                                </li>
                            <% else %>
                                <li>
                                  <%= link_to users_delivery_addresses_path do %>
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>  个人资料
                                  <% end %>
                                </li>
                            <% end %>
                                <li class="divider"> </li>
                            <li> <%= link_to destroy_user_session_path, method: :delete do %>
                            <i class="fa fa-power-off" aria-hidden="true"></i> 登出
                            <% end %>
                          </li>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
