<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>管理员后台</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
	<div class="container-fluid" style="background:url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-365736.jpg); background-size: 100%;background-repeat: repeat-y;min-height:900px;">

		<%= render "common/navbar" %>
		<%= render "common/flashes" %>

		<div class="row">
			<div class="col-md-1" id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<%= link_to admin_products_path do %>
					<li>
						<i class="fa fa-info-circle" aria-hidden="true"></i> 产品管理
					</li>
					<% end %>
					<li>
						<%= link_to admin_orders_path do %>
					 <i class="fa fa-check-square-o" aria-hidden="true"></i> 订单管理
					</li>
					<% end %>
				</ul>
			</div>

			<div class="col-md-11 col-md-offset-1 ">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
