<!DOCTYPE html>
<html>
    <head>
        <title>Xdore - 卖Xdite知识的Store</title>
        <%= csrf_meta_tags %>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="Demo for flipping card creation, as part of the CSS transitions, transforms and animations series.">


        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">


    </head>

    <body>

<!--         <div class="container-fluid" style="background:url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-443187.jpg); background-size: 100%;background-repeat: repeat-y;min-height:900px;">
 -->
        <div class="container-fluid" style="background:url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-103295.jpg); background-size: 100%;background-repeat: repeat-y;min-height:900px;">

        

            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>
    </body>
</html>
